SRC_DSN=mssql+pyodbc://<username>:<password>@<host>:1433/<database>?driver=ODBC+Driver+18+for+SQL+Server
SRC_SCHEMA=<source_schema>
DST_DSN=mssql+pyodbc://<username>:<password>@<host>:1433/<database>?driver=ODBC+Driver+18+for+SQL+Server
DST_SCHEMA=<destination_schema>
